/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --bg-color: #7c3aed;
  --error: #e7195a;
}
/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  color: #374151;
  font-family: "Poppins";
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
/*loading animation spinner*/
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  position: relative;
  top: 180px;
  left: 45%;
  width: 150px;
  height: 150px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid var(--bg-color); /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
/*header styles*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f1f1f1;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}
.header-container a span {
  color: var(--bg-color);
}

nav {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  display: inline-block;
  padding: 7px;
  font-weight: bold;
  border-radius: 15px;
}
nav a:hover {
  background-color: #fff;
  transition: all 0.4s ease;
}
/*products page styles*/
main {
  margin-top: 100px;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 65%;
  margin: 80px auto 0 auto;
}
.product {
  height: 100%;
  background-color: #fff;
}
.product img {
  width: 100%;
  max-height: 200px;
}
.product div {
  width: 90%;
  margin: 10px auto;
}
.product h4 {
  width: 150px;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product button {
  width: 90%;
  margin: 10px auto 0 auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--bg-color);
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
}
/*Product details*/
.product-details {
  max-height: 400px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 120px auto 0 auto;
}
.product-details img {
  width: 48%;
}
.details {
  width: 48%;
  padding: 10px;
}
.details h3 {
  font-size: 1.8rem;
}
.details p {
  margin-top: 15px;
}
.details hr {
  height: 3px;
  margin: 15px 0;
  background: #222;
}
.details div {
  display: flex;
  justify-content: space-between;
}
.details div span {
  font-size: 1.2rem;
  font-weight: bold;
}
.details div button {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--bg-color);
  color: #fff;
  font-weight: bold;
}
