/*google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --bg-color: #7c3aed;
  --error: #e7195a;
}

/*CSS reset*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  color: #374151;
  font-family: "Poppins";
  background: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

/*header styles*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #f1f1f1;
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}
.header-container a span {
  color: var(--bg-color);
}

nav {
  position: relative;
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-evenly;
}
nav a {
  display: inline-block;
  padding: 7px;
  font-weight: bold;
  border-radius: 15px;
}
nav a:hover {
  background-color: #fff;
  transition: all 0.4s ease;
}
nav button {
  font-family: "Poppins";
  color: #374151;
  padding: 7px;
  font-weight: bold;
  font-size: 1rem;
  border-radius: 15px;
}
nav button:hover {
  background: #fff;
  transition: all 0.4s ease;
}
.profile-nav {
  position: absolute;
  background: #f3f3f3;
  display: flex;
  flex-direction: column;
  top: 50px;
  left: -20px;
  padding: 10px;
  border-radius: 10px;
  transition: visibility 0s, opacity 0.2s linear;
}
.profile-nav div {
  background: #fff;
  padding: 5px;
  border: 2px solid #374151;
  border-radius: 5px;
}
.profile-nav div span {
  display: block;
  margin: 5px;
  font-weight: bold;
  text-align: left;
}
/*loading spiner*/
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  position: relative;
  top: 180px;
  left: 45%;
  width: 150px;
  height: 150px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid var(--bg-color); /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}
/*override toasty container position*/
.Toastify__toast-container--top-right {
  top: 5em !important;
}
/*products page styles*/
main {
  margin-top: 100px;
}
button:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 65%;
  margin: 80px auto 0 auto;
}
.product {
  height: 100%;
  background-color: #fff;
}
.product img {
  width: 100%;
  max-height: 200px;
}
.product div {
  width: 90%;
  margin: 10px auto;
}
.product h4 {
  width: 150px;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.product button {
  width: 90%;
  margin: 10px auto 0 auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--bg-color);
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
}
/*Products select filter*/
.filter-products {
  padding: 10px 0 10px 20px;
}
.filter-products label {
  font-size: 1.1rem;
}
#product-select {
  display: block;
  width: 200px;
  padding: 10px;
  margin: 10px 0 0 10px;
  border: 2px solid var(--bg-color);
  border-radius: 8px;
  font-weight: bold;
}
/*Product details*/
.product-details {
  max-height: 400px;
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: 120px auto 0 auto;
}
.product-details img {
  width: 48%;
}
.details {
  width: 48%;
  padding: 10px;
}
.details h3 {
  font-size: 1.8rem;
}
.details p {
  margin-top: 15px;
}
.details hr {
  height: 3px;
  margin: 15px 0;
  background: #222;
}
.details div {
  display: flex;
  justify-content: space-between;
}
.details div span {
  font-size: 1.2rem;
  font-weight: bold;
}
.details div button {
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--bg-color);
  color: #fff;
  font-weight: bold;
}
/*Cart css*/
.cart {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}
.cart h2 {
  font-size: 2.2rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: 30px;
}
.cart-table {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.cart-table thead {
  padding: 5px 0;
}
.cart-table tr {
  display: flex;
  padding: 10px 0;
  justify-content: space-evenly;
  border-bottom: 1px solid #374151;
}
.cart-table td,
.cart-table th {
  width: 20%;
  text-align: center;
}
.remove-btn {
  color: var(--bg-color);
  font-size: 1.2rem;
  font-weight: bold;
  background: inherit;
}
.count-btn {
  color: var(--bg-color);
  font-size: 1.2rem;
  margin: 0 5px;
  padding: 2px 6px;
  font-weight: bold;
  background: inherit;
  border: 1px solid var(--bg-color);
  border-radius: 5px;
}
.remove-btn:hover,
.count-btn:hover {
  background: inherit;
  cursor: pointer;
}
.count-btn:disabled {
  background: #cccccc;
  cursor: no-drop;
}
.cart p {
  margin-top: 20px;
  text-align: right;
  font-weight: bold;
  font-size: 1.2rem;
}
.cart p span {
  color: var(--bg-color);
  margin-right: 5px;
}
/*Empty cart*/
.cart-empty {
  padding-top: 30px;
  width: 40%;
  margin: 0 auto;
  text-align: center;
}
.cart-empty :nth-child(1) {
  font-size: 8rem;
  color: var(--bg-color);
}
.cart-empty p {
  text-align: center;
}
.cart-empty a {
  display: block;
  width: 70%;
  margin: 15px auto 0 auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--bg-color);
  color: #fff;
  font-weight: bold;
}
/*Auth forms*/
.auth-form {
  width: 30%;
  margin: 100px auto 0 auto;
}
.auth-form h3 {
  font-size: 2.2rem;
  text-align: center;
  margin: 12px 0;
}
.form-control {
  padding: 10px 15px;
}
.form-control label {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}
.form-control input {
  width: 100%;
  padding: 10px;
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.auth-form button {
  width: 100%;
  margin: 10px auto 15px auto;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: var(--bg-color);
  color: #fff;
  font-weight: bold;
  font-size: 0.8rem;
}
.auth-error {
  padding: 10px;
  margin: 10px 0;
  font-weight: bold;
  color: #fff;
  background-color: var(--error);
  border-radius: 5px;
}
/*User details page*/
.user-details {
  width: 40%;
  margin: 100px auto 0 auto;
  padding: 20px 5px;
}
.user-details h4 {
  font-size: 1.6rem;
}
.user-details ul {
  border-top: 2px solid #374151;
  padding: 10px 0;
}
.user-details ul p {
  margin: 10px 0 0;
  text-align: center;
}
.detail {
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.user-details a {
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  margin: 5px;
  padding: 10px 15px;
  background: var(--bg-color);
  border-radius: 5px;
}
.user-details a:hover,
.user-details button:hover {
  cursor: pointer;
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
  color: #fff;
}
/*profile edit form*/
.user-details form {
  margin: 15px 0;
}
.user-details form input {
  width: 50%;
  padding: 7px 10px;
  border: 1px solid var(--bg-color);
  border-radius: 5px;
}
.user-edit-btn {
  margin-top: 15px;
}
.user-edit-btn :nth-child(1) {
  background: var(--bg-color);
  padding: 15px 20px;
  font-size: 1.1rem;
  color: #fff;
  border-radius: 5px;
}
.user-edit-btn :nth-child(2) {
  background: #fff;
  padding: 12px 15px;
  margin-left: 20px;
  font-size: 1.1rem;
  color: #374151;
  border: 1px solid #374151;
  border-radius: 5px;
}
